table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;

  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 30%;
}
th{
background-color:  green;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
